# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# rust
**/target/
**/*.rs.bk
**/*.swp
**/*.swo

# dependencies
/node_modules
/.pnp
.pnp.*
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/versions

# testing
/coverage

# next.js
# monorepo-sh specific
**/.next/
**/.dist/
**/node_modules/
**/.turbo/
**/dist/
coverage/
/apps/web/.next/
/out/

# production
/build

# metrics (latency probe, etc.)
.metrics/

# misc
.DS_Store
*.pem

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*

# env files (can opt-in for committing if needed)
.env*
!.env.example

# vercel
.vercel

# typescript
*.tsbuildinfo
next-env.d.ts
